html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
button,
select,
option,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  overflow-y: scroll;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  background-color: #fffffa;
}
.container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.header {
  background-color: #005a98;
}
.header_caps {
  width: 1000px;
  margin: 0 auto;
  background-image: url('../Images/header_caps.jpg');
  background-position: center top;
  background-repeat: repeat-x;
  background-size: auto 60px;
}
.header_back {
  position: relative;
  height: 60px;
  margin: 0 10px;
  background-image: url('../Images/header_back.jpg');
  background-position: center top;
  background-repeat: repeat-x;
  background-size: auto 60px;
}
.header img {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
}
[dir="rtl"] .header img {
  left: auto;
  right: 0;
}
.header h1 {
  position: absolute;
  right: 0;
  color: white;
}
[dir="rtl"] .header h1 {
  right: auto;
  left: 0;
}
.navbar {
  position: relative;
  top: 40px;
  right: 50%;
  float: right;
}
[dir="rtl"] .navbar {
  right: auto;
  left: 50%;
  float: left;
}
.navbar a {
  display: block;
  position: relative;
  left: 50%;
  float: left;
  padding: 1px 10px 3px;
  border-left: 1px solid #dddddd;
  font-size: 13px;
  font-weight: bold;
  color: #dddddd;
  text-decoration: none;
}
[dir="rtl"] .navbar a {
  left: auto;
  right: 50%;
  float: right;
  border-left: none;
  border-right: 1px solid #dddddd;
}
.navbar a:first-child {
  border-left: none;
}
[dir="rtl"] .navbar a:first-child {
  border-right: none;
}
.navbar a:hover,
.navbar a:focus,
.navbar a.active {
  color: #ffffff;
}
.standard-body {
  background-color: #f7faff;
  padding: 5px;
  border: none;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
h1 {
  margin: 0.7em;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 15px;
  font-weight: bold;
}
select {
  border: 1px solid #aacfff;
  background-color: #fffffa;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background: #0061dd;
  color: #ffffff;
  border-radius: 4px;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  background-color: #2b88ff;
  outline: none;
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  border: 0;
}
button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  position: relative;
  top: 1px;
  left: 1px;
}
button.disabled,
input[type="button"].disabled,
input[type="submit"].disabled,
input[type="reset"].disabled,
button[disabled="disabled"],
input[type="button"][disabled="disabled"],
input[type="submit"][disabled="disabled"],
input[type="reset"][disabled="disabled"] {
  background-color: #aaaaaa;
  cursor: default;
}
button.disabled:active,
input[type="button"].disabled:active,
input[type="submit"].disabled:active,
input[type="reset"].disabled:active,
button[disabled="disabled"]:active,
input[type="button"][disabled="disabled"]:active,
input[type="submit"][disabled="disabled"]:active,
input[type="reset"][disabled="disabled"]:active {
  position: static;
}
.tree-select ul {
  margin-top: 2px;
  margin-left: 16px;
}
[dir="rtl"] .tree-select ul {
  margin-left: 0;
  margin-right: 16px;
}
.tree-select  > ul {
  margin-top: 0;
}
.tree-select li {
  position: relative;
  margin-bottom: 2px;
}
.tree-select label.toggle {
  position: absolute;
  top: 2px;
  left: -16px;
  width: 13px;
  height: 13px;
  background-image: url(../Images/collapse-r.png);
  background-repeat: no-repeat;
}
[dir="rtl"] .tree-select label.toggle {
  left: auto;
  right: -16px;
  background-image: url(../Images/collapse-l.png);
}
.tree-select label.toggle.collapsed {
  background-image: url(../Images/expand-r.png);
}
[dir="rtl"] .tree-select label.toggle.collapsed {
  background-image: url(../Images/expand-l.png);
}
.tree-select label.toggle input {
  opacity: 0;
  filter: alpha(opacity=0);
}
.tree-select label.select {
  display: inline-block;
  padding-left: 16px;
}
[dir="rtl"] .tree-select label.select {
  padding-left: 0;
  padding-right: 16px;
}
.tree-select label.select input {
  position: relative;
  vertical-align: bottom;
  width: 13px;
  height: 13px;
  margin-left: -16px;
  margin-right: 3px;
  top: -1px;
}
[dir="rtl"] .tree-select label.select input {
  margin-left: 3px;
  margin-right: -16px;
}
.tree-select label.leaf {
  display: none;
}
.list-select ul {
  margin-top: 3px;
  margin-left: 5px;
}
[dir="rtl"] .list-select ul {
  margin-left: 0;
  margin-right: 5px;
}
.list-select li {
  margin-bottom: 2px;
}
.list-select label {
  display: inline-block;
  padding-left: 18px;
  text-indent: -18px;
}
[dir="rtl"] .list-select label {
  padding-left: 0;
  padding-right: 18px;
}
.list-select label input[type="checkbox"],
.list-select label input[type="radio"] {
  position: relative;
  vertical-align: bottom;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  top: -1px;
}
[dir="rtl"] .list-select label input[type="checkbox"],
[dir="rtl"] .list-select label input[type="radio"] {
  margin-right: 0;
  margin-left: 5px;
}
.list-select label.leaf {
  display: none;
}
.selection {
  background-color: #f7faff;
  padding: 5px;
  border: none;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.selection div.selection-container {
  position: relative;
  right: 50%;
  float: right;
  margin-top: 20px;
}
[dir="rtl"] .selection div.selection-container {
  right: auto;
  left: 50%;
  float: left;
}
.selection fieldset {
  display: block;
  position: relative;
  left: 50%;
  float: left;
  vertical-align: top;
  height: 555px;
  padding: 30px 10px 10px;
  margin: 0 5px 10px;
  background-color: #d3e6ff;
  border-radius: 6px;
}
[dir="rtl"] .selection fieldset {
  left: auto;
  right: 50%;
  float: right;
}
.selection fieldset legend {
  position: absolute;
  top: 0;
  padding: 5px 0;
  color: #004baa;
  font-size: 13px;
}
.selection .year-selection {
  width: 80px;
  text-align: right;
}
[dir="rtl"] .selection .year-selection {
  text-align: left;
}
.selection .year-selection select {
  display: block;
  width: 55px;
  margin: 5px auto;
  border: none;
  background-color: #f1f7ff;
}
.selection .country-selection {
  width: 280px;
}
.selection .country-selection span {
  display: block;
  margin: 2px 0 10px;
}
.selection .country-selection span label {
  display: inline-block;
  margin-right: 5px;
}
[dir="rtl"] .selection .country-selection span label {
  margin-right: 0;
  margin-left: 5px;
}
.selection .country-selection span input[type="radio"] {
  position: relative;
  vertical-align: bottom;
  margin-right: 2px;
}
[dir="rtl"] .selection .country-selection span input[type="radio"] {
  margin-right: 0;
  margin-left: 2px;
}
.selection .country-selection div.search {
  position: relative;
  margin-bottom: 10px;
  width: 280px;
}
.selection .country-selection div.search input[type="text"] {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 1px 10px;
  border-radius: 10px;
}
.selection .country-selection div.search img {
  position: absolute;
  top: 1px;
  right: 4px;
}
.selection .country-selection div.selection-panel {
  padding: 5px 0;
  background-color: #f1f7ff;
  border-radius: 2px;
}
.selection .country-selection div.selection-panel li.hidden {
  display: none;
}
.selection .country-selection div.selection-panel  > label {
  display: block;
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #004baa;
}
.selection .country-selection div.selection-panel  > label input[type="checkbox"] {
  position: relative;
  vertical-align: bottom;
  width: 13px;
  height: 13px;
  margin-right: 3px;
  top: -1px;
}
.selection .country-selection div.selection-panel  > div {
  height: 517px;
  padding: 0 5px;
  overflow-y: auto;
}
.selection .country-selection div.selection-panel  > div.list-select {
  height: 469px;
}
.selection .column-selection {
  width: 220px;
}
.selection .column-selection div {
  margin-bottom: 6px;
}
.selection .column-selection h3 {
  margin-bottom: 0.4em;
}
.selection .column-selection .age-sex {
  margin-top: -5px;
}
.selection .column-selection .age-sex label {
  display: block;
  padding-left: 16px;
  text-indent: -16px;
}
[dir="rtl"] .selection .column-selection .age-sex label {
  padding-left: 0;
  padding-right: 16px;
}
.selection .column-selection .age-sex label input[type="checkbox"],
.selection .column-selection .age-sex label input[type="radio"] {
  position: relative;
  vertical-align: bottom;
  width: 13px;
  height: 13px;
  margin-right: 3px;
  top: -1px;
}
[dir="rtl"] .selection .column-selection .age-sex label input[type="checkbox"],
[dir="rtl"] .selection .column-selection .age-sex label input[type="radio"] {
  margin-right: 0;
  margin-left: 3px;
}
.selection .column-selection .age-sex label {
  margin-bottom: 1px;
}
.selection .column-selection .checkbox-list {
  padding-bottom: 5px;
}
.selection .column-selection .checkbox-list td {
  padding-bottom: 3px;
  padding-left: 16px;
}
.selection .column-selection .checkbox-list input {
  position: relative;
  vertical-align: bottom;
  top: -1px;
  left: -16px;
  margin-right: 3px;
}
.selection .column-selection .checkbox-list label {
  display: inline;
  padding-left: 0;
  margin-left: -16px;
  text-indent: -16px;
}
.selection .column-selection .listbox-list {
  padding-bottom: 5px;
}
.selection .column-selection .listbox-list label {
  display: block;
  text-indent: 0.3em;
  margin-bottom: 0.5em;
}
.selection .buttons {
  clear: both;
  text-align: center;
}
.selection .buttons button,
.selection .buttons input[type="submit"] {
  padding: 3px 20px;
  margin-bottom: 5px;
  font-size: 14px;
}
.results {
  background-color: #f7faff;
  padding: 5px;
  border: none;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: center;
}
.results  > * {
  text-align: left;
}
[dir="rtl"] .results  > * {
  text-align: right;
}
table.standard-table {
  width: 100%;
  background-color: #ecf5ff;
  border: 1px solid #a0caff;
}
table.standard-table.narrow {
  width: 70%;
  margin: 0 auto;
}
table.standard-table th,
table.standard-table td {
  padding: 3px 3px;
  vertical-align: middle;
}
table.standard-table thead > tr > th {
  text-align: center;
}
table.standard-table tbody > tr > th,
table.standard-table tfoot > tr > th {
  text-align: right;
}
[dir="rtl"] table.standard-table tbody > tr > th,
[dir="rtl"] table.standard-table tfoot > tr > th {
  text-align: left;
}
table.standard-table th,
table.standard-table td {
  border-top: 1px solid #c4deff;
}
table.standard-table tbody tr:first-child th,
table.standard-table tfoot tr:first-child th,
table.standard-table tbody tr:first-child td,
table.standard-table tfoot tr:first-child td {
  border-top: 1px solid #a0caff;
}
table.standard-table caption + thead tr:first-child th,
table.standard-table colgroup + thead tr:first-child th,
table.standard-table caption + tbody tr:first-child th,
table.standard-table colgroup + tbody tr:first-child th,
table.standard-table caption + thead tr:first-child td,
table.standard-table colgroup + thead tr:first-child td,
table.standard-table caption + tbody tr:first-child td,
table.standard-table colgroup + tbody tr:first-child td {
  border-top: 0;
}
table.standard-table thead:first-child tr:first-child th,
table.standard-table tbody:first-child tr:first-child th,
table.standard-table thead:first-child tr:first-child td,
table.standard-table tbody:first-child tr:first-child td {
  border-top: 0;
}
table.standard-table td,
table.standard-table th {
  border-left: 1px solid #a0caff;
}
table.standard-table td:first-child,
table.standard-table th:first-child {
  border-left: none;
}
[dir="rtl"] table.standard-table td,
[dir="rtl"] table.standard-table th {
  border-left: none;
  border-right: 1px solid #a0caff;
}
[dir="rtl"] table.standard-table td:first-child,
[dir="rtl"] table.standard-table th:first-child {
  border-right: none;
}
table.standard-table td.sub-table {
  padding: 0 5px 5px;
}
table.standard-table .sub-table table {
  margin-top: 5px;
  background-color: #d3e6ff;
}
table.standard-table .no-vertical-dividers td,
table.standard-table .no-vertical-dividers th {
  border-left: none;
  border-right: none;
}
table.standard-table td.force-vertical-dividers,
table.standard-table th.force-vertical-dividers {
  border-left: 1px solid #a0caff !important;
  border-right: 1px solid #a0caff !important;
}
table.framework-table > tbody > tr > td {
  padding-top: 10px;
}
table.framework-table > tbody > tr:first-child > td {
  padding-top: 0;
}
caption {
  padding: 12px 0 5px;
  font-size: 13px;
  font-weight: bold;
}
td.numeric {
  text-align: right;
}
td.numeric input {
  text-align: right;
}
.digits-3 {
  width: 28px;
}
.digits-4 {
  width: 38px;
}
.digits-5 {
  width: 45px;
}
.digits-6 {
  width: 52px;
}
.digits-7 {
  width: 62px;
}
.digits-8 {
  width: 69px;
}
.digits-9 {
  width: 76px;
}
.digits-10 {
  width: 86px;
}
.digits-11 {
  width: 93px;
}
.digits-12 {
  width: 100px;
}
.digits-13 {
  width: 110px;
}
.digits-14 {
  width: 117px;
}
.digits-15 {
  width: 124px;
}
.inactive-cell {
  background-color: #bccde2;
}
.centred {
  text-align: center !important;
}
.flow-label {
  width: 75px;
}
.population-type {
  width: 240px;
}
.population-type-short {
  width: 110px;
}
.table-number {
  width: 40px;
  text-align: center;
}
.sex-label {
  width: 55px;
}
.location {
  white-space: nowrap;
  overflow: hidden;
}
.origin {
  width: 390px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.urban-rural {
  width: 44px;
  text-align: center;
}
.accommodation-type {
  width: 44px;
  text-align: center;
}
.displacement-status {
  width: 125px;
  text-align: center;
}
.ppg {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.refugee-like {
  width: 56px;
}
.stateless-class {
  width: 58px;
  text-align: center;
}
.source {
  width: 47px;
  text-align: center;
}
.basis {
  width: 47px;
  text-align: center;
}
.year {
  width: 30px;
  text-align: center;
}
.total-assisted {
  text-align: right;
  white-space: nowrap;
}
.total-assisted-narrow {
  width: 10px;
}
.total-assisted-wide {
  width: 100px;
}
.accent {
  background-color: #d3e6ff;
}
.top-pager {
  display: inline-block;
  margin-top: 0px;
  font-size: 0;
}
.top-pager label {
  float: left;
  margin-right: 10px;
  font-size: 12px;
}
[dir="rtl"] .top-pager label {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.top-pager span input[type="submit"] {
  float: left;
  padding: 2px 10px;
  border-radius: 0;
  border-left: 1px solid #ffffff;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}
[dir="rtl"] .top-pager span input[type="submit"] {
  float: right;
  border-left: none;
  border-right: 1px solid #ffffff;
}
.top-pager span input[type="submit"]:first-child {
  border-left: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
[dir="rtl"] .top-pager span input[type="submit"]:first-child {
  border-right: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.top-pager span input[type="submit"]:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
[dir="rtl"] .top-pager span input[type="submit"]:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.top-pager  > input[type="submit"] {
  padding: 2px 15px;
  margin-left: 15px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 15px;
}
[dir="rtl"] .top-pager  > input[type="submit"] {
  margin-left: 0;
  margin-right: 15px;
}
.top-pager .no-data {
  color: #004baa;
  font-size: 16px;
  line-height: 4em;
}
.bottom-pager {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 0;
}
.bottom-pager span input {
  float: left;
  width: 3em;
  padding: 2px 0;
  margin: 0;
  border-radius: 0;
  border-left: 1px solid #ffffff;
  font-size: 12px;
  line-height: 15px;
}
[dir="rtl"] .bottom-pager span input {
  float: right;
  border-left: none;
  border-right: 1px solid #ffffff;
}
.bottom-pager span span {
  float: left;
  width: 3em;
  padding: 1px 0;
  background-color: #f7faff;
  border: 1px solid #555555;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  cursor: text;
}
[dir="rtl"] .bottom-pager span span {
  float: right;
}
.bottom-pager span span  + input {
  border-left: none;
}
[dir="rtl"] .bottom-pager span span  + input {
  border-right: none;
}
.bottom-pager span  > input:first-child,
.bottom-pager span  > span:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
[dir="rtl"] .bottom-pager span  > input:first-child,
[dir="rtl"] .bottom-pager span  > span:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.bottom-pager span  > input:first-child {
  border-left: none;
}
[dir="rtl"] .bottom-pager span  > input:first-child {
  border-left: none;
}
.bottom-pager span  > input:last-child,
.bottom-pager span  > span:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
[dir="rtl"] .bottom-pager span  > input:last-child,
[dir="rtl"] .bottom-pager span  > span:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.bottom-pager  > input {
  padding: 2px 10px;
  margin-left: 12px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 15px;
  vertical-align: baseline;
}
[dir="rtl"] .bottom-pager  > input {
  margin-left: 0;
  margin-right: 12px;
}
.introduction {
  background-color: #f7faff;
  padding: 5px;
  border: none;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.introduction .main-content {
  display: inline-block;
  vertical-align: top;
  width: 570px;
  padding: 5px;
  margin: 5px;
}
.introduction .main-content h2 {
  margin: 1em 0 0.3em;
}
.introduction .main-content p {
  font-size: 14px;
  margin-bottom: 0.7em;
  text-align: justify;
}
.introduction .main-content a {
  color: #004baa;
  font-weight: bold;
  text-decoration: none;
}
.introduction .main-content a:hover {
  color: #117aff;
  text-decoration: underline;
}
.introduction .poc-definitions {
  display: inline-block;
  vertical-align: top;
  width: 375px;
  padding: 10px;
  margin-right: -5px;
  margin-bottom: -5px;
  border-left: none;
}
.introduction .poc-definitions p {
  font-size: 13px;
  margin-bottom: 0.3em;
  text-align: justify;
}
.introduction .poc-definitions p em {
  font-weight: bold;
}
.introduction .poc-definitions h2 {
  margin: 0 0 0.3em;
  text-align: center;
}
div.frs {
  background-color: #f7faff;
  padding: 5px;
  border: none;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
div.frs div {
  width: 731px;
  margin: auto;
}
div.frs div div.residing,
div.frs div div.origin {
  float: left;
  width: 315px;
  padding: 5px 25px;
}
div.frs div div.residing h2,
div.frs div div.origin h2 {
  margin: 0.2em 0 0.6em;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
div.frs div div.residing h3,
div.frs div div.origin h3 {
  margin: 0.5em 10px;
  font-size: 14px;
  font-weight: bold;
}
div.frs div div.residing li,
div.frs div div.origin li {
  margin: 0.3em 0;
}
div.frs div div.residing a,
div.frs div div.origin a {
  margin: 0 10px;
  color: #004baa;
  font-size: 14px;
  text-decoration: none;
}
div.frs div div.residing a:hover,
div.frs div div.origin a:hover {
  color: #117aff;
  text-decoration: underline;
}
div.frs div div.residing select,
div.frs div div.origin select {
  width: 315px;
  margin: 5px;
}
div.frs div div.residing {
  border-right: 1px solid grey;
}
div.frs div div.others {
  clear: both;
  padding: 10px 0 20px;
  text-align: center;
}
div.frs div div.others li {
  margin: 0.6em 0;
}
div.frs div div.others a {
  margin: 0 10px;
  color: #004baa;
  font-size: 14px;
  text-decoration: none;
}
div.frs div div.others a:hover {
  color: #117aff;
  text-decoration: underline;
}
cite {
  color: #86bcff;
}
