html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  overflow-y: scroll;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  background-color: #fffffd;
}
h1 {
  margin: 0.7em;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.header {
  background-color: #005a98;
}
.header_caps {
  width: 1000px;
  margin: 0 auto;
  background-image: url('../Images/header_caps.jpg');
  background-position: center top;
  background-repeat: repeat-x;
}
.header_back {
  position: relative;
  height: 60px;
  margin: 0 10px;
  background-image: url('../Images/header_back.jpg');
  background-position: center top;
  background-repeat: repeat-x;
}
.header img {
  position: absolute;
  left: 0;
  top: 0;
}
.header h1 {
  position: absolute;
  right: 0;
  color: white;
}
.container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.navbar {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 41px;
  float: left;
}
.navbar a {
  display: inline-block;
  position: relative;
  right: 50%;
  float: left;
  padding: 0 10px 3px;
  border-left: 1px solid #dddddd;
  font-size: 13.200000000000001px;
  color: #dddddd;
  text-decoration: none;
  vertical-align: middle;
}
.navbar a:first-child {
  border-left: none;
}
.navbar a:hover {
  color: white;
}
.navbar a.active {
  color: white;
  font-weight: bold;
}
.navtabs {
  margin-bottom: -1px;
  overflow: hidden;
}
.navtabs ul {
  position: relative;
  left: 50%;
  float: left;
}
.navtabs ul li {
  position: relative;
  right: 50%;
  display: inline-block;
  float: left;
  margin: 0 2px;
  background-color: #fffffd;
  border: 1px solid #fffffd;
  border-bottom-color: #dddddd;
  border-radius: 5px 5px 0 0;
}
[dir="rtl"] .navtabs ul li {
  float: right;
}
.navtabs ul li:hover {
  border-color: #e2edfa;
  border-bottom-color: #dddddd;
  background-color: #e2edfa;
}
.navtabs ul li:hover a {
  color: #004c99;
}
.navtabs ul li.active {
  border-color: #dddddd #dddddd #f7faff;
  background-color: #f7faff;
}
.navtabs ul li.active a {
  color: #333333;
}
.navtabs ul li a {
  display: block;
  padding: 5px 10px;
  color: #007fff;
  text-decoration: none;
}
.main-body {
  background-color: #f7faff;
  padding: 5px;
  border: 1px solid #dddddd;
  border-top: none;
}
table.standard-table {
  width: 100%;
  background-color: #ecf5ff;
  border: 1px solid #aaaaaa;
}
table.standard-table.narrow {
  width: 70%;
  margin: 0 auto;
}
table.standard-table th,
table.standard-table td {
  padding: 3px 3px;
  vertical-align: middle;
}
table.standard-table thead > tr > th {
  text-align: center;
}
table.standard-table tbody > tr > th,
table.standard-table tfoot > tr > th {
  text-align: right;
}
[dir="rtl"] table.standard-table tbody > tr > th,
[dir="rtl"] table.standard-table tfoot > tr > th {
  text-align: left;
}
table.standard-table th,
table.standard-table td {
  border-top: 1px solid #dddddd;
}
table.standard-table tbody tr:first-child th,
table.standard-table tfoot tr:first-child th,
table.standard-table tbody tr:first-child td,
table.standard-table tfoot tr:first-child td {
  border-top: 1px solid #aaaaaa;
}
table.standard-table caption + thead tr:first-child th,
table.standard-table colgroup + thead tr:first-child th,
table.standard-table caption + tbody tr:first-child th,
table.standard-table colgroup + tbody tr:first-child th,
table.standard-table caption + thead tr:first-child td,
table.standard-table colgroup + thead tr:first-child td,
table.standard-table caption + tbody tr:first-child td,
table.standard-table colgroup + tbody tr:first-child td {
  border-top: 0;
}
table.standard-table thead:first-child tr:first-child th,
table.standard-table tbody:first-child tr:first-child th,
table.standard-table thead:first-child tr:first-child td,
table.standard-table tbody:first-child tr:first-child td {
  border-top: 0;
}
table.standard-table td,
table.standard-table th {
  border-left: 1px solid #aaaaaa;
}
table.standard-table td:first-child,
table.standard-table th:first-child {
  border-left: none;
}
[dir="rtl"] table.standard-table td,
[dir="rtl"] table.standard-table th {
  border-left: none;
  border-right: 1px solid #aaaaaa;
}
[dir="rtl"] table.standard-table td:first-child,
[dir="rtl"] table.standard-table th:first-child {
  border-right: none;
}
table.standard-table td.sub-table {
  padding: 0 5px 5px;
}
table.standard-table .sub-table table {
  margin-top: 5px;
  background-color: #d3e6ff;
}
table.standard-table .no-vertical-dividers td,
table.standard-table .no-vertical-dividers th {
  border-left: none;
  border-right: none;
}
table.standard-table td.force-vertical-dividers,
table.standard-table th.force-vertical-dividers {
  border-left: 1px solid #aaaaaa !important;
  border-right: 1px solid #aaaaaa !important;
}
table.framework-table > tbody > tr > td {
  padding-top: 10px;
}
table.framework-table > tbody > tr:first-child > td {
  padding-top: 0;
}
caption {
  padding: 12px 0 5px;
  font-size: 13px;
  font-weight: bold;
}
table.standard-table input,
table.standard-table textarea,
table.standard-table select {
  display: block;
  width: 100%;
}
table.standard-table input[type="checkbox"] {
  display: block;
  width: 13px;
  height: 13px;
  margin: -1px auto;
}
table.standard-table input[type="text"],
table.standard-table input[type="password"] {
  height: 16px;
  padding: 2px 1px;
  margin: -3px -2px;
  font: inherit;
  color: inherit;
  border: 1px solid #cccccc;
  background-color: #fffffd;
  border-radius: 3px;
}
table.standard-table textarea {
  height: 19px;
  min-height: 19px;
  padding: 1px 1px 0;
  margin: -3px -2px;
  font: inherit;
  color: inherit;
  background-color: #fffffd;
  border: 1px solid #cccccc;
  border-radius: 3px;
  resize: vertical;
  overflow-y: hidden;
}
table.standard-table select {
  height: 22px;
  padding: 1px 1px;
  margin: -4px -2px;
  font: inherit;
  color: inherit;
  border: 1px solid #cccccc;
  background-color: #fffffd;
  border-radius: 3px;
}
table.standard-table input[type="text"][disabled],
table.standard-table textarea[disabled],
table.standard-table select[disabled] {
  background-color: #dddddd;
}
table.standard-table input:focus,
table.standard-table textarea:focus,
table.standard-table select:focus {
  border-color: #0000ff;
  outline: 0;
}
table.standard-table input[type="checkbox"]:focus {
  outline: 1px solid #0000ff;
}
td.numeric {
  text-align: right;
}
td.numeric input {
  text-align: right;
}
.digits-3 {
  width: 28px;
}
.digits-4 {
  width: 38px;
}
.digits-5 {
  width: 45px;
}
.digits-6 {
  width: 52px;
}
.digits-7 {
  width: 62px;
}
.digits-8 {
  width: 69px;
}
.digits-9 {
  width: 76px;
}
.digits-10 {
  width: 86px;
}
.digits-11 {
  width: 93px;
}
.digits-12 {
  width: 100px;
}
.digits-13 {
  width: 110px;
}
.digits-14 {
  width: 117px;
}
.digits-15 {
  width: 124px;
}
.inactive-cell {
  background-color: #bccde2;
}
.centred {
  text-align: center !important;
}
.flow-label {
  width: 75px;
}
.population-type {
  width: 240px;
}
.population-type-short {
  width: 110px;
}
.table-number {
  width: 40px;
  text-align: center;
}
.sex-label {
  width: 55px;
}
.location {
  white-space: nowrap;
  overflow: hidden;
}
.origin {
  width: 390px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.urban-rural {
  width: 44px;
  text-align: center;
}
.accommodation-type {
  width: 44px;
  text-align: center;
}
.displacement-status {
  width: 125px;
  text-align: center;
}
.ppg {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.refugee-like {
  width: 56px;
}
.stateless-class {
  width: 58px;
  text-align: center;
}
.source {
  width: 47px;
  text-align: center;
}
.basis {
  width: 47px;
  text-align: center;
}
.year {
  width: 30px;
  text-align: center;
}
.accent {
  background-color: #d3e6ff;
}
.login {
  width: 400px;
  margin: 0 auto;
}
.login h2 {
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;
  font-size: 21px;
  text-indent: 0.5em;
}
.login label {
  display: block;
  width: 50%;
  margin: 15px auto 0;
  font-size: 15px;
}
.login input {
  width: 100%;
  margin: 3px -4px;
  padding: 2px;
}
.login div {
  text-align: center;
}
.login button {
  margin-top: 20px;
  padding: 4px 10px;
  font-size: 15px;
}
button,
input[type="submit"] {
  font-family: inherit;
  font-weight: bold;
  color: #ffffff;
  background-color: #0271ff;
  background-image: -moz-linear-gradient(top, #0271ff, #003b86);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0271ff), to(#003b86));
  background-image: -webkit-linear-gradient(top, #0271ff, #003b86);
  background-image: linear-gradient(to bottom, #0271ff, #003b86);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0271ff', endColorstr='#ff003b86', GradientType=0);
  border: 1px solid #0056c3;
  border-radius: 6px;
  -moz-box-shadow: inset 0px 1px 0px 0px #5ea5ff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #5ea5ff;
  box-shadow: inset 0px 1px 0px 0px #5ea5ff;
}
button:hover,
input[type="submit"]:hover {
  background-image: -moz-linear-gradient(top, #003b86, #0271ff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#003b86), to(#0271ff));
  background-image: -webkit-linear-gradient(top, #003b86, #0271ff);
  background-image: linear-gradient(to bottom, #003b86, #0271ff);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff003b86', endColorstr='#ff0271ff', GradientType=0);
}
button:active,
input[type="submit"]:active {
  position: relative;
  top: 1px;
  left: 1px;
}
button.disabled,
input[type="submit"].disabled,
button[disabled="disabled"],
input[type="submit"][disabled="disabled"] {
  background-color: #d3d3d3;
  background-image: none;
  filter: none;
  border: 1px solid #d3d3d3;
  box-shadow: none;
  cursor: default;
}
button.disabled:active,
input[type="submit"].disabled:active,
button[disabled="disabled"]:active,
input[type="submit"][disabled="disabled"]:active {
  position: static;
}
cite {
  color: #86bcff;
}
.background {
  position: absolute;
  width: 1000px;
  top: 55px;
  z-index: -1;
  margin-top: 0.6em;
  font-size: 400px;
  font-weight: bold;
  color: #d1f0ff;
  text-shadow: 0 0 80px;
  text-align: center;
}
.selection-box {
  position: absolute;
  top: 70px;
  left: 50%;
  width: 400px;
  margin-left: -204px;
  padding: 10px;
  border: 4px outset #eeeeee;
  background-color: #fffffd;
  border-radius: 10px;
  -moz-box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.7);
}
.selection-box fieldset {
  border: 1px solid #aaaaaa;
  padding: 0 5px 10px;
  margin: 0 0 10px;
}
.selection-box legend {
  padding: 0 5px;
  color: #888;
}
.selection-box .date-range-selection {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.selection-box .date-range-selection label {
  padding: 0 5px;
  font-weight: bold;
}
.selection-box .date-range-selection select {
  width: 60px;
}
.selection-box .country-selection {
  display: block;
  width: 378px;
  margin: 10px 5px 0;
}
.selection-box .country-selection label {
  display: block;
  padding: 2px 5px;
  font-weight: bold;
}
.selection-box .country-selection select {
  width: 100%;
}
.selection-box .poptype-selection {
  display: block;
  width: 378px;
  margin: 10px 5px 0;
}
.selection-box .poptype-selection > label {
  display: block;
  padding: 2px 5px;
  font-weight: bold;
}
.selection-box .poptype-selection input[type="checkbox"] {
  margin: 1px 10px;
}
.selection-box input[type="checkbox"] {
  vertical-align: middle;
}
.selection-box .column-selection div {
  display: inline-block;
  padding: 3px;
}
.selection-box .column-selection div label {
  display: block;
}
.selection-box .column-selection .dimensions {
  float: left;
  width: 190px;
  padding-top: 10px;
}
.selection-box .column-selection .values {
  width: 180px;
}
.selection-box .column-selection .values label {
  display: inline;
  vertical-align: 3px;
}
.selection-box .buttons {
  text-align: right;
}
[dir="rtl"] .selection-box .buttons {
  text-align: left;
}
.selection-box .buttons button,
.selection-box .buttons input[type="submit"] {
  padding: 2px 10px;
  margin: 0 5px;
}
.control-buttons {
  width: 100%;
  margin-bottom: 5px;
  text-align: right;
}
[dir="rtl"] .control-buttons {
  text-align: left;
}
.control-buttons button {
  padding: 2px 10px;
}
select {
  font: inherit;
}
.top-pager {
  text-align: center;
}
.top-pager input,
.top-pager select {
  display: inline !important;
  width: auto !important;
}
.top-pager select {
  margin: 0 5px 0 1px;
}
.top-pager .no-data {
  margin: 0 1em;
  color: #004baa;
  font-size: 16px;
  vertical-align: -1px;
}
.bottom-pager {
  text-align: center;
}
.bottom-pager input[type="submit"] {
  display: inline;
  width: auto;
  margin-top: 5px;
  padding: 0 3px;
  font-size: 12px;
}
.bottom-pager .current-page-button {
  margin-top: 5px;
  padding: 0 3px;
  font-weight: bold;
  color: #333333;
  background-color: #d3d3d3;
  border: 2px solid #d3d3d3;
  border-radius: 6px;
}
.male-row {
  background-color: #d3e6ff;
}
div.frs {
  width: 731px;
  margin: auto;
}
div.frs div.residing,
div.frs div.origin {
  float: left;
  width: 315px;
  padding: 5px 25px;
}
div.frs div.residing h2,
div.frs div.origin h2 {
  margin: 0.2em 0 0.6em;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
div.frs div.residing h3,
div.frs div.origin h3 {
  margin: 0.5em 10px;
  font-size: 14px;
  font-weight: bold;
}
div.frs div.residing li,
div.frs div.origin li {
  margin: 0.3em 0;
}
div.frs div.residing a,
div.frs div.origin a {
  margin: 0 10px;
  color: #004baa;
  font-size: 14px;
  text-decoration: none;
}
div.frs div.residing a:hover,
div.frs div.origin a:hover {
  color: #117aff;
  text-decoration: underline;
}
div.frs div.residing select,
div.frs div.origin select {
  width: 315px;
  margin: 5px;
}
div.frs div.residing {
  border-right: 1px solid grey;
}
div.frs div.others {
  clear: both;
  padding: 10px 0 20px;
  text-align: center;
}
div.frs div.others li {
  margin: 0.6em 0;
}
div.frs div.others a {
  margin: 0 10px;
  color: #004baa;
  font-size: 14px;
  text-decoration: none;
}
div.frs div.others a:hover {
  color: #117aff;
  text-decoration: underline;
}
.introduction {
  padding: 0 10px 0;
}
.introduction h2 {
  font-size: 15px;
  font-weight: bold;
}
.introduction .main-content {
  display: inline-block;
  vertical-align: top;
  width: 570px;
  margin-right: 10px;
}
.introduction .main-content p {
  font-size: 14px;
  margin-bottom: 0.7em;
  text-align: justify;
}
.introduction .main-content p a {
  color: #004baa;
  font-weight: bold;
  text-decoration: none;
}
.introduction .main-content p a:hover {
  color: #117aff;
  text-decoration: underline;
}
.introduction .main-content h2 {
  margin: 1em 0 0.3em;
}
.introduction .poc-definitions {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-left: 1px solid #dddddd;
}
.introduction .poc-definitions p {
  font-size: 13px;
  margin-bottom: 0.3em;
  text-align: justify;
}
.introduction .poc-definitions p em {
  font-weight: bold;
}
.introduction .poc-definitions h2 {
  margin: 0 0 0.3em;
  text-align: center;
}
.country-selection {
  height: 500px;
  width: 300px;
  overflow-y: auto;
  padding: 0 5px;
  border: 1px solid #aaaaaa;
  background-color: #ecf5ff;
}
.country-selection ul {
  margin-left: 18px;
  margin-top: 2px;
}
.country-selection li {
  list-style: none;
  padding: 1px 0;
}
.country-selection img {
  width: 13px;
  height: 13px;
  vertical-align: top;
  margin-right: 2px;
  margin-left: -18px;
}
.country-selection label {
  display: inline-block;
  padding-left: 18px;
  text-indent: -18px;
}
.country-selection input[type="checkbox"] {
  position: relative;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  margin-right: 2px;
  border: none;
  vertical-align: bottom;
  top: -1px;
}
